{% extends "accounts/base.html" %}
{% block content %}
<div>
  <div class="jumbotron">
    <form class="form-signin" method="POST">{% csrf_token %}
      {{user_form}}
      {{salon_form}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
    {% for field in user_form %}
    <p>
      {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    {% if user_form.non_field_errors %}
    <div style="color: red">
      <p>{{user_form.non_field_errors}}</p>
    </div>

    {% endif %}
    <h1 style="text-align: center">Register</h1>
    <form class="form-group">
      <div class="form-group">
        <label for="username">Shop Name:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter name" name="username" required />
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="user_email">Email:</label>
        <input type="email" class="form-control" id="user_email" placeholder="Enter email" name="user_email" required />
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="user_phone">Phone number:</label>
        <input type="number" class="form-control" id="user_phone" placeholder="Enter phone number" name="user_phone"
          required />
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="user_address">Address:</label>
        <textarea class="form-control" id="user_address" placeholder="Enter address" name="user_address" rows="5"
          required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}